body            
{ 
  background-image: url('../images/home-bg.jpg');
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1       
{ 
  color: #377ba8; 
  margin-bottom: 25px; 
  border-bottom: 2px solid #eee; 
}

.page {
  margin: 3.5% 0 0 2.5%;
}	

.page img{
  padding: 7px;
}

/* table.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  text-align:center;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
  opacity: 90%;
}

tr:nth-child(odd)	
{ 
  background-color:#eee; 
}
tr:nth-child(even)	
{ 
  background-color:#fff; 
}
tr:hover            
{ 
  background-color: #ffff99;
} */