body {
	background-image: url('../stylesheets/home-bg.jpg');
    background-size: cover;
	color:white;
	padding-top:5px;
}

img{
	width: 200px;
	height: 40px;
}

.content{
	text-align: center;
}

h1 {
	padding-top:150px;
	color:red;
	font-size: 50px;
}

form p1{
	font-size:20px;
	color: white;
	padding: 5px;
}

input{
	padding: 12px;
	background-color: black;
	color: white;
	font-size: 17px;
}